@use "~@angular/material" as mat;
@use "sass:map";

@mixin app-banner-typography($typography-config) {
  app-banner {
    .heading {
      // [`typography-leve`] OVERRIDE THE FONT STYLE FOR MORE CHECK [./core/typography/typography-utils'] INSIDE INED
      @include mat.typography-level($typography-config, title);
    }
    .message {
      @include mat.typography-level($typography-config, body-1);
    }
  }
}

@mixin app-banner-theme($theme) {
  $theme-color: mat.get-color-config($theme);
  //@returns {Map} Typography configuration for a theme. see index theme[`./core/theming/theming`]
  $typography: mat.get-typography-config($theme);

  // CREATING COLOR PALETTE FOR COMPONENT
  $primary-palette: map.get($theme-color, primary);
  $success-palette: map.get($theme-color, success);
  $info-palette: map.get($theme-color, info);
  $accent-palette: map.get($theme-color, accent);

  // MAT PREDEFINED COMPOENT THEME COLOE LINKE [CARD, DIALOG, TOOLTIP etc] for mersee core themeing palette
  $background: map.get($theme-color, background);

  // TYPOGRAPHY MIXIN
  @if $typography != null {
    @include app-banner-typography($typography);
  }

  app-banner {
    // ADD ELEVATION[SHADOW] [shadow 0-24, color, opacity]
    @include mat.elevation(2, "#e3e3e3", 0.63);
    // @include mat.overridable-elevation(2, "#333", 0.03);
    background-color: mat.get-color-from-palette($background, card);
    &.app-banner-succes {
      background-color: mat.get-color-from-palette($success-palette, lighter);
    }
    &.app-banner-info {
      background-color: mat.get-color-from-palette($info-palette, lighter);
    }
    &.app-banner-accent {
      background-color: mat.get-color-from-palette($accent-palette, lighter);
    }
  }
}
