<div>
  <mat-toolbar>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

<main class="content">
  <div class="container">
    <div>
      <app-banner
        type="info"
        message="This component will get your own theme!"
      ></app-banner>
    </div>

    <h2>Choose an Options:</h2>
    <mat-form-field appearance="fill">
      <mat-label>Choose a theme</mat-label>
      <mat-select (selectionChange)="setTheme($event)">
        <mat-option value="dark">Dark</mat-option>
        <mat-option value="light">Light</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
    </div>

    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio modi
        facilis iste sit beatae culpa repellendus, cum distinctio laboriosam
        eius necessitatibus recusandae earum soluta a blanditiis nostrum et quam
        amet!
      </p>
    </div>
  </div>
</main>
