<div>
  <mat-toolbar>
    <button mat-icon-button class="logo">
      <!-- <img src="../assets/images/dark-logo.png" alt="" width="45" /> -->
    </button>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Blog</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>

<main class="content">
  <div class="container">
    <div>
      <app-banner
        type="info"
        message="This component will get your own theme!"
      ></app-banner>
    </div>

    <h2>Choose an Options:</h2>
    <mat-form-field appearance="fill">
      <mat-label>Choose a theme</mat-label>
      <mat-select (selectionChange)="setTheme($event)">
        <mat-option value="dark">Dark</mat-option>
        <mat-option value="light">Light</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
    </div>

    <div class="mat-typography mat-elevation-z1">
      <p class="title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio modi
        facilis iste sit beatae culpa repellendus, cum distinctio laboriosam
        eius necessitatibus recusandae earum soluta a blanditiis nostrum et quam
        amet!
      </p>
    </div>
    <div style="width: 320px">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
