@use "@angular/material" as mat;
@use "./styles/common.scss";

// ADD TYPOGRAPHY SO DEFAULT IS NOT LOADING
@include mat.core(common.$workshop-typography);

// @include mat.ripple.ripple();
// @include mat.a11y.a11y-visually-hidden();
// @include mat.overlay.overlay();
// @include mat.text-field.text-field-autosize();
// @include mat.text-field.text-field-autofill();

// @include mat.focus-indicators.private-strong-focus-indicators-positioning();

// @include mat.typography-hierarchy(common.$workshop-typography, "body");

// BASE RULE
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  padding: 10px 15px;
  max-width: 1200px;
  margin: 0 auto;
}
