@use "@angular/material" as mat;
@use "@angular/cdk/a11y" as a11y;
@use "@angular/cdk/overlay" as overlay;
@use "@angular/cdk/text-field" as text-field;
@use "@angular/material/core/focus-indicators/focus-indicators";
@use "./styles/common.scss" as common;

// ADD TYPOGRAPHY SO DEFAULT IS NOT LOADING
// @include mat.core(common.$workshop-typography);

@include mat.ripple();
@include a11y.a11y-visually-hidden();
@include overlay.overlay();
@include text-field.text-field-autosize();
@include text-field.text-field-autofill();

@include focus-indicators.private-strong-focus-indicators-positioning();
@include mat.strong-focus-indicators(
  (
    border-style: dotted,
    border-width: 4px,
    border-radius: 4px,
  )
);
@include mat.typography-hierarchy(common.$workshop-typography, "body");

// BASE RULE
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  padding: 10px 15px;
  max-width: 1200px;
  margin: 0 auto;
}
