@use "@angular/material" as mat;
@use "./app/banner/banner.component.theme" as banner;
@use "./app/app-thme.scss" as root;
@use "sass:map";

@use "./styles/dark-themes.scss" as dark;
@use "./styles/light-themes.scss" as light;

@include mat.core();

// [COLOR THME]

// $workshop-primary: mat.define-palette(mat.$indigo-palette, 500, 200, 800);
// $workshop-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // OPTIONAL COLOR DEIFINE [MERGE COLORS]
// $workshop-succes: mat.define-palette(mat.$green-palette);
// $workshop-info: mat.define-palette(mat.$blue-palette);

// $workshop-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $workshop-primary,
//       accent: $workshop-accent,
//     ),
//     typography: $workshop-typography,
//   )
// );
// $workshop-theme: map.deep-merge(
//   $workshop-theme,
//   (
//     success: $workshop-succes,
//     info: $workshop-info,
//     color: (
//       success: $workshop-succes,
//       info: $workshop-info,
//     ),
//   )
// );

// @debug $workshop-theme;

@mixin create-theme($workshop-theme) {
  // @include mat.core-theme($workshop-theme);
  @include mat.all-component-themes($workshop-theme);
  // ADD BANNER THEME
  @include banner.app-banner-theme($workshop-theme);
  // ADDING LIGHT THMEME
  @include root.app-root-thme($workshop-theme);
}

// BASE RULE

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  padding: 10px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.dark-theme {
  @include create-theme(dark.$workshop-theme);
}
.light-theme {
  @include create-theme(light.$workshop-theme);
}
